<carousel>
  <slide>
    <img src="assets/images/312509.png" alt="hero slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="assets/images/796071.jpg" alt="hero slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="assets/images/636255.jpg" alt="hero slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="assets/images/636221.jpg" alt="hero slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="assets/images/515039.jpg" alt="hero slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="assets/images/796060.jpg" alt="hero slide" style="display: block; width: 100%;">
  </slide>
</carousel>
<section class="featured">
  <div class="d-flex justify-content-center pt-4">
    <h1>Welcome to Mad Men</h1>
  </div>
</section>
